*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: inherit;
}
header {
    text-align: center;
}
nav {
    width: 90%;
    margin: 1rem auto;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main h1 {
    text-align: center;
}