/* globale styles */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: inherit;
    background-color: rgb(255, 96, 255);
}
a {
    text-decoration: none;
    color: aliceblue;
}
/* header, nav styles */
header {
    text-align: center;
}
nav {
    width: 90%;
    margin: 1rem auto;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
main h1 {
    text-align: center;
}
/* section styles */
section {
    width: 95%;
    margin: auto;
}
h2 {
    text-align: center;
    padding: 1rem;
}
section ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}












